@charset "utf-8";
/* reset */
body * {
  box-sizing: border-box;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
dt,
div {
  margin: 0;
  padding: 0;
}

/* base */
body {
  line-height: 1.7;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/* main */
body {
  background-color: darkblue;
}
h1 {
  text-align: center;
  margin: 50px 0;
  color: yellow;
}
form {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 20px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 10px;
}
form p label {
  font-weight: bold;
  color: orange;
  font-size: 20px;
}
form div {
  margin-top: 20px;
}
form div:first-child {
  margin-top: 0px;
}
#text {
  width: 30%;
  background-color: rgb(231, 231, 231);
  border: none;
  height: 20px;
}
#textarea {
  width: 50%;
  background-color: rgb(231, 231, 231);
  border: none;
}
#submitBtn {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 230, 0);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* javascript */
.alert {
  font-size: 14px;
  color: red;
}
